<template>
    <div class="app">
        <div class="loader hide" ref="loader">
            <div class="spinner"></div>
        </div>
        <div class="wrapper">
            <el-container>
                <el-header>
                    <h1>Список домов</h1>
                </el-header>
                <el-row :gutter="20">
                    <el-col :span="24" :md="6">
                        <h5>Фильтры</h5>
                        <el-form>
                            <el-form-item label="Название">
                                <el-input v-model="filters.name" placeholder="Введите название"
                                          v-on:change="onChange"></el-input>
                            </el-form-item>
                            <div>
                                <label>Стоимость</label>
                                <el-slider
                                    v-model="filters.price"
                                    range
                                    :max="max" v-on:change="onChange">
                                </el-slider>
                            </div>

                            <el-form-item label="Количество спален">
                                <el-input-number v-model="filters.bedrooms" controls-position="right" :min="0"
                                                 v-on:change="onChange"></el-input-number>
                            </el-form-item>

                            <el-form-item label="Количество ванных комнат">
                                <el-input-number v-model="filters.bathrooms" controls-position="right" :min="0"
                                                 v-on:change="onChange"></el-input-number>
                            </el-form-item>

                            <el-form-item label="Количество этажей">
                                <el-input-number v-model="filters.storeys" controls-position="right" :min="0"
                                                 v-on:change="onChange"></el-input-number>
                            </el-form-item>

                            <el-form-item label="Количество гаражей">
                                <el-input-number v-model="filters.garages" controls-position="right" :min="0"
                                                 v-on:change="onChange"></el-input-number>
                            </el-form-item>
                        </el-form>
                    </el-col>

                    <el-col :span="24" :md="18">
                        <el-table
                            :data="rows"
                            empty-text="Результатов не найдено"
                        >
                            <el-table-column
                                prop="name"
                                label="Название"
                                column-key="name"
                            />
                            <el-table-column
                                prop="price"
                                label="Цена"
                                column-key="price"
                            />
                            <el-table-column
                                prop="bedrooms"
                                label="Спальни"
                                column-key="bedrooms"
                            />
                            <el-table-column
                                prop="bathrooms"
                                label="Ванные комнаты"
                                column-key="bathrooms"
                            />
                            <el-table-column
                                prop="storeys"
                                label="Этажей"
                                column-key="storeys"
                            />
                            <el-table-column
                                prop="garages"
                                label="Гаражей"
                                column-key="garages"
                            />
                        </el-table>
                    </el-col>
                </el-row>
            </el-container>
        </div>
    </div>
</template>

<script>
const qs = require('qs');

export default {
    name: "Houses",
    data() {
        return {
            rows: [],
            filters: {
                name: null,
                price: null,
                bedrooms: null,
                bathrooms: null,
                storeys: null,
                garages: null,
            },
            max: 1000000
        }
    },
    methods: {
        async getHouses(useParams = false) {
            let params = {}
            if (useParams) {
                params = {
                    'filters': {}
                };
                let operators = {
                    name: 'like',
                    price: 'between'
                }
                for (let key in this.filters) {
                    if (this.filters[key]) {
                        params['filters'][key] = {
                            operator: operators[key] ?? 'eq',
                            value: Array.isArray(this.filters[key]) ? this.filters[key].join('-') : this.filters[key]
                        }
                    }
                }
                console.log('params', params);
            }
            return axios.get('/api/houses', {
                params: params,
                paramsSerializer: params => {
                    return qs.stringify(params)
                }
            });
        },
        onChange() {
            this.$refs.loader.classList.remove('hide')
            this.getHouses(true).then((response) => {
                this.$refs.loader.classList.add('hide')
                this.rows = response.data.data;
            });
        }
    },
    beforeMount() {
        this.getHouses().then((response) => {
            this.rows = response.data.data;
        });
    }
}
</script>

<style scoped>
.wrapper {
    max-width: 1200px;
    display: block;
    margin: 0 auto;
}

.loader {
    position: absolute;
    display: flex;
    width: 100vw;
    min-height: 100vh;
    height: 100%;
    background: rgba(0,0,0,0.3);
    z-index: 9999;
    justify-content: center;
    align-content: center;
}

.loader.hide {
    display: none;
}

.spinner {
    position: relative;
    width: 125px;
    height: 125px;
}

.spinner:before, .spinner:after {
    content: "";
    display: block;
    position: absolute;
    border-width: 4px;
    border-style: solid;
    border-radius: 50%;
}

@-webkit-keyframes anti-rotate-animation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

@keyframes anti-rotate-animation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

.spinner:before {
    width: 117px;
    height: 117px;
    border-bottom-color: #63ABEA;
    border-right-color: #63ABEA;
    border-top-color: rgba(99, 171, 234, 0);
    border-left-color: rgba(99, 171, 234, 0);
    top: 0px;
    left: 0px;
    -webkit-animation: rotate-animation 1s linear 0s infinite;
    animation: rotate-animation 1s linear 0s infinite;
}

.spinner:after {
    width: 81.9px;
    height: 81.9px;
    border-bottom-color: #63ABEA;
    border-right-color: #63ABEA;
    border-top-color: rgba(99, 171, 234, 0);
    border-left-color: rgba(99, 171, 234, 0);
    top: 17.55px;
    left: 17.55px;
    -webkit-animation: anti-rotate-animation 0.85s linear 0s infinite;
    animation: anti-rotate-animation 0.85s linear 0s infinite;
}
</style>
